<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Drupal \ Vue \ Element</title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <li>Drupal 8 - Backend, API</li>
  <li>GraphQL</li>
  <li>Vue JS</li>
  <li>Github Fetch || Axios (vue-resources alt)</li>
  <li>Rollup (webpack alt)</li>
  <li>PostCSS + cssnext (sass alt)</li>
  <li>Element (ui framework with vue)</li>
  <li>Vue-Admin (admin framework with element)</li>
  <li>npm 5 beta (yarn alt)</li>
  <li>Atom text editor</li>
  <li>Babel</li>

  <script src="bundle.js"></script>
</body>
</html>
